* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #23252c;
  margin: 0.5rem;
}

#root {
  max-width: 317px;
  color: white;
  background-color: #1a1b21;
  margin: 44px auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info {
  text-align: center;
}

.info .info-img {
  display: block;
  width: 100%;
}

.info .info-name {
  margin-top: 21px;
  font-size: 2rem;
}

.info .info-job {
  margin-top: 6px;
  font-size: 1rem;
  color: #f3bf99;
}

.info .info-website {
  margin-top: 8px;
  font-size: 13px;
}

.info .info-btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.info-btn .icon {
  margin-right: 8px;
}

.info-btn .btn {
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.info-btn .linkedin-btn {
  color: #fff;
  background-color: #5093e2;
}

.about {
  margin: 33px 36px 0;
}

.about .about-text,
.interests .interests-text {
  margin-top: 5px;
  font-size: 12px;
}

.interests {
  margin: 15px 40px;
}

.footer {
  margin-top: 24px;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  column-gap: 24px;
  padding-block: 20px;
}

.footer .icon {
  color: #918e9b;
}
